In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("compensation_titles_location")
df.head()

WARNING:tensorflow:From C:\Users\akicz\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

,totalyearlycompensation,title,City,State,Country
0,127000,Product Manager,Redwood City,CA,CA
1,100000,Software Engineer,San Francisco,CA,CA
2,310000,Product Manager,Seattle,WA,WA
3,372000,Software Engineering Manager,Sunnyvale,CA,CA
4,157000,Software Engineer,Mountain View,CA,CA

In [2]:
df = df.drop(["title", "Country", "State"], axis =1)
df

       totalyearlycompensation           City
0                       127000   Redwood City
1                       100000  San Francisco
2                       310000        Seattle
3                       372000      Sunnyvale
4                       157000  Mountain View
...                        ...            ...
62637                   327000        Seattle
62638                   237000        Redmond
62639                   220000        Seattle
62640                   280000  San Francisco
62641                   200000      Sunnyvale

[62642 rows x 2 columns]

In [20]:

# state list
#statelist = ["AL", "AK", "AZ", "AR", "CA", "CO", "CT", "DE", "FL", "GA", "HI", "ID", "IL", "IN", "IA", "KS", "KY', 'LA", "ME", "MD", "MA", "MI", "MN", "MS", "MO", "MT", "NE", "NV", "NH", "NJ", "NM", "NY", "NC", "ND", "OH", "OK", "OR", "PA", "RI", "SC", "SD", "TN", "TX", "UT", "VT", "VA", "WA", "WV", "WI", "WY"]
 
# drop rows where not in above list
#df_states = df[df.State.isin(statelist) == False]
#df_states

In [17]:
#len(df_states["State"].unique())

201

In [ ]:
#AL, AK, AZ, AR, CA, CO, CT, DE, FL, GA, HI, ID, IL, IN, IA, KS, KY, LA, ME, MD, MA, MI, MN, MS, MO, MT, NE, NV, NH, NJ, NM, NY, NC, ND, OH, OK, OR, PA, RI, SC, SD, TN, TX, UT, VT,VA, WA, WV, WI, WY

In [3]:
# Convert categorical data to numeric with `pd.get_dummies`
df_dummies = pd.get_dummies(df, dtype=int)
df_dummies.head()

,totalyearlycompensation,City_Aachen,City_Aarhus,City_Aberdeen Proving Ground,City_Abingdon,City_Accra,City_Adelaide,City_Aguadilla,City_Alameda,City_Albany,...,City_Yeovil,City_Yerevan,City_York,City_Yorktown Heights,City_Yulee,City_Zapopan,City_Zaragoza,City_Zug,City_Zurich,City_hod hasharon
0,127000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,100000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,310000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,372000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,157000,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
df_dummies.columns

Index(['totalyearlycompensation', 'City_Aachen', 'City_Aarhus',
       'City_Aberdeen Proving Ground', 'City_Abingdon', 'City_Accra',
       'City_Adelaide', 'City_Aguadilla', 'City_Alameda', 'City_Albany',
       ...
       'City_Yeovil', 'City_Yerevan', 'City_York', 'City_Yorktown Heights',
       'City_Yulee', 'City_Zapopan', 'City_Zaragoza', 'City_Zug',
       'City_Zurich', 'City_hod hasharon'],
      dtype='object', length=956)

In [5]:
# Split our preprocessed data into our features and target arrays
y = df_dummies["totalyearlycompensation"]
X = df_dummies.drop("totalyearlycompensation", axis=1)

In [6]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [8]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.


nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=50, activation="relu", input_dim=955))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=20, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\akicz\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 50)                47800

 dense_1 (Dense)             (None, 20)                1020

 dense_2 (Dense)             (None, 1)                 21

=================================================================
Total params: 48841 (190.79 KB)
Trainable params: 48841 (190.79 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [9]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\akicz\anaconda3\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [10]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
WARNING:tensorflow:From C:\Users\akicz\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\akicz\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

1469/1469 [==============================] - 3s 1ms/step - loss: -4229180672.0000 - accuracy: 0.0000e+00
Epoch 2/50
1469/1469 [==============================] - 2s 1ms/step - loss: -53745795072.0000 - accuracy: 0.0000e+00
Epoch 3/50
1469/1469 [==============================] - 2s 1ms/step - loss: -207598944256.0000 - accuracy: 0.0000e+00
Epoch 4/50
1469/1469 [==============================] - 2s 1ms/step - loss: -494662287360.0000 - accuracy: 0.0000e+00
Epoch 5/50
1469/1469 [==============================] - 2s 1ms/step - loss: -935429931008.0000 - accuracy: 0.0000e+00
Epoch 6/50
1469/1469 [==============================] - 2s 1ms/step - loss: -1549285326848.0000 - accuracy: 0.0000e+00
Epoch 7/50
1469/1469 [==============================] - 2s 1ms/step - loss: -2358303522816.0000 - accuracy: 0.0000e+00
Epoch 8/50
1469/1469 [==============================] - 2s 1ms/step - loss: -3382915891200.0000 - accuracy: 0.0000e+00
Epoch 9/50
1469/1469 [==============================] - 2s 1ms/step - loss: -4646412222464.0000 - accuracy: 0.0000e+00
Epoch 10/50
1469/1469 [==============================] - 2s 1ms/step - loss: -6169135415296.0000 - accuracy: 0.0000e+00
Epoch 11/50
1469/1469 [==============================] - 2s 1ms/step - loss: -7974007865344.0000 - accuracy: 0.0000e+00
Epoch 12/50
1469/1469 [==============================] - 2s 1ms/step - loss: -10076627664896.0000 - accuracy: 0.0000e+00
Epoch 13/50
1469/1469 [==============================] - 2s 1ms/step - loss: -12499116097536.0000 - accuracy: 0.0000e+00
Epoch 14/50
1469/1469 [==============================] - 2s 1ms/step - loss: -15262435770368.0000 - accuracy: 0.0000e+00
Epoch 15/50
1469/1469 [==============================] - 2s 1ms/step - loss: -18392469733376.0000 - accuracy: 0.0000e+00
Epoch 16/50
1469/1469 [==============================] - 2s 1ms/step - loss: -21908200357888.0000 - accuracy: 0.0000e+00
Epoch 17/50
1469/1469 [==============================] - 2s 1ms/step - loss: -25824539443200.0000 - accuracy: 0.0000e+00
Epoch 18/50
1469/1469 [==============================] - 3s 2ms/step - loss: -30167760109568.0000 - accuracy: 0.0000e+00
Epoch 19/50
1469/1469 [==============================] - 3s 2ms/step - loss: -34942784372736.0000 - accuracy: 0.0000e+00
Epoch 20/50
1469/1469 [==============================] - 2s 1ms/step - loss: -40189690904576.0000 - accuracy: 0.0000e+00
Epoch 21/50
1469/1469 [==============================] - 3s 2ms/step - loss: -45927175815168.0000 - accuracy: 0.0000e+00
Epoch 22/50
1469/1469 [==============================] - 2s 1ms/step - loss: -52151694917632.0000 - accuracy: 0.0000e+00
Epoch 23/50
1469/1469 [==============================] - 2s 1ms/step - loss: -58907317764096.0000 - accuracy: 0.0000e+00
Epoch 24/50
1469/1469 [==============================] - 2s 1ms/step - loss: -66220447498240.0000 - accuracy: 0.0000e+00
Epoch 25/50
1469/1469 [==============================] - 2s 1ms/step - loss: -74094720581632.0000 - accuracy: 0.0000e+00
Epoch 26/50
1469/1469 [==============================] - 2s 1ms/step - loss: -82528895500288.0000 - accuracy: 0.0000e+00
Epoch 27/50
1469/1469 [==============================] - 2s 1ms/step - loss: -91565859012608.0000 - accuracy: 0.0000e+00
Epoch 28/50
1469/1469 [==============================] - 2s 1ms/step - loss: -101256513191936.0000 - accuracy: 0.0000e+00
Epoch 29/50
1469/1469 [==============================] - 2s 2ms/step - loss: -111582562484224.0000 - accuracy: 0.0000e+00
Epoch 30/50
1469/1469 [==============================] - 2s 2ms/step - loss: -122578685394944.0000 - accuracy: 0.0000e+00
Epoch 31/50
1469/1469 [==============================] - 2s 1ms/step - loss: -134238053597184.0000 - accuracy: 0.0000e+00
Epoch 32/50
1469/1469 [==============================] - 2s 2ms/step - loss: -146618657538048.0000 - accuracy: 0.0000e+00
Epoch 33/50
1469/1469 [==============================] - 2s 1ms/step - loss: -159715170451456.0000 - accuracy: 0.0000e+00
Epoch 34/50
1469/1469 [==============================] - 2s 1ms/step - loss: -173546491871232.0000 - accuracy: 0.0000e+00
Epoch 35/50
1469/1469 [==============================] - 2s 2ms/step - loss: -188147551961088.0000 - accuracy: 0.0000e+00
Epoch 36/50
1469/1469 [==============================] - 3s 2ms/step - loss: -203515230158848.0000 - accuracy: 0.0000e+00
Epoch 37/50
1469/1469 [==============================] - 2s 1ms/step - loss: -219693499547648.0000 - accuracy: 0.0000e+00
Epoch 38/50
1469/1469 [==============================] - 2s 1ms/step - loss: -236692946550784.0000 - accuracy: 0.0000e+00
Epoch 39/50
1469/1469 [==============================] - 2s 1ms/step - loss: -254559725289472.0000 - accuracy: 0.0000e+00
Epoch 40/50
1469/1469 [==============================] - 2s 1ms/step - loss: -273291084300288.0000 - accuracy: 0.0000e+00
Epoch 41/50
1469/1469 [==============================] - 2s 1ms/step - loss: -292881470324736.0000 - accuracy: 0.0000e+00
Epoch 42/50
1469/1469 [==============================] - 2s 1ms/step - loss: -313389838499840.0000 - accuracy: 0.0000e+00
Epoch 43/50
1469/1469 [==============================] - 2s 2ms/step - loss: -334810417463296.0000 - accuracy: 0.0000e+00
Epoch 44/50
1469/1469 [==============================] - 2s 2ms/step - loss: -357123410100224.0000 - accuracy: 0.0000e+00
Epoch 45/50
1469/1469 [==============================] - 2s 1ms/step - loss: -380437096562688.0000 - accuracy: 0.0000e+00
Epoch 46/50
1469/1469 [==============================] - 2s 1ms/step - loss: -404748255625216.0000 - accuracy: 0.0000e+00
Epoch 47/50
1469/1469 [==============================] - 2s 1ms/step - loss: -430035915767808.0000 - accuracy: 0.0000e+00
Epoch 48/50
1469/1469 [==============================] - 2s 1ms/step - loss: -456288634929152.0000 - accuracy: 0.0000e+00
Epoch 49/50
1469/1469 [==============================] - 2s 1ms/step - loss: -483645999546368.0000 - accuracy: 0.0000e+00
Epoch 50/50
1469/1469 [==============================] - 2s 1ms/step - loss: -512041739616256.0000 - accuracy: 0.0000e+00

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")